@model IEnumerable<Repository.Models.UserLeavePolicy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeeklyOffDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualOffDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiscalYearStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiscalYearEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiscalYearPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Hometown)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WeeklyOffDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnualOffDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiscalYearStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiscalYearEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiscalYearPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Hometown)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
