@model Repository.Models.UserLeavePolicy

@{
  ViewBag.Title = "Create";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Custom/css/MultiSelect.css" rel="stylesheet" />


<h2>Create</h2>
@*<style type="text/css">
  .multiselect-container {
    width: 100% !important;
  }
</style>*@

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <h4>UserLeavePolicy</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
      @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
      </div>
    </div>


    <div class="form-group">
      @Html.LabelFor(model => model.WeeklyOffDays, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @*@Html.EditorFor(model => model.WeeklyOffDays, new { htmlAttributes = new { @class = "form-control" } })*@

        <select class="selectpicker" id="multiselect" multiple data-live-search="false">
          <option value="1">Saturday</option>
          <option value="2">Sunday</option>
          <option value="3">Monday</option>
          <option value="4">Tuesday</option>
          <option value="5">Wednesday</option>
          <option value="6">Thursday</option>
          <option value="7">Friday</option>
        </select>
        @Html.ValidationMessageFor(model => model.WeeklyOffDays, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.AnnualOffDays, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @*@Html.EditorFor(model => model.AnnualOffDays, new { htmlAttributes = new { @class = "form-control" } })*@
        <
        @Html.ValidationMessageFor(model => model.AnnualOffDays, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.FiscalYearStart, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.FiscalYearStart, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FiscalYearStart, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.FiscalYearEnd, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.FiscalYearEnd, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FiscalYearEnd, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.FiscalYearPeriod, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.FiscalYearPeriod, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FiscalYearPeriod, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
      </div>
    </div>
  </div>
}

<div>
  @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">

</script>
<script src="~/Content/Custom/js/MultiSelect.js"></script>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
